/* TODO: Common CSS Styles go here */

body {
	font-size: 18px;
	background-color: #333333;
}

h1,h2,h3,h4,h5 {
	margin: 0;
}

.gap-bottom-none { margin-bottom: 0; }
.gap-bottom-neg { margin-bottom: -20px; }
.gap-bottom-sm { margin-bottom: 5px; }
.gap-bottom-md { margin-bottom: 10px; }
.gap-bottom-lg { margin-bottom: 15px; }
.gap-bottom-xl { margin-bottom: 20px; }
.gap-top-none { margin-top: 0; }
.gap-top-neg { margin-top: -20px; }
.gap-top-sm { margin-top: 5px; }
.gap-top-md { margin-top: 10px; }
.gap-top-lg { margin-top: 15px; }
.gap-top-xl { margin-top: 20px; }
.gap-left-none { margin-left: 0; }
.gap-left-neg { margin-left: -20px; }
.gap-left-sm { margin-left: 5px; }
.gap-left-md { margin-left: 10px; }
.gap-left-lg { margin-left: 15px; }
.gap-left-xl { margin-left: 20px; }
.gap-right-none { margin-right: 0; }
.gap-right-neg { margin-right: -20px; }
.gap-right-sm { margin-right: 5px; }
.gap-right-md { margin-right: 10px; }
.gap-right-lg { margin-right: 15px; }
.gap-right-xl { margin-right: 20px; }

ol.breadcrumb {
	font-size: 14px;
}

div.content {
	background-color: white;
	padding-top: 80px;
	padding-bottom: 20px;
}

footer {
	border-top: 1px solid black;
	text-align: center;
}
