{% extends "_layouts/main.html.twig" %}

{% block page_head_title %}Datenschutz{% endblock %}

{% block content %}
<div id="container-impressum">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Startseite" %}</a></li>
			<li class="active">{% trans "Datenschutz" %}</li>
		</ol>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3>{% trans "Datenschutz" %}</h3>
			</div>
			<div class="panel-body">
				<!-- TODO -->
			</div>
		</div>
	</div>
</div>
{% endblock %}
