{% extends "_layouts/main.html.twig" %}

{% block page_head_title %}Impressum/Disclaimer{% endblock %}

{% block content %}
<div id="container-impressum">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Startseite</a></li>
			<li class="active">Impressum/Disclaimer</li>
		</ol>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3>Impressum/Disclaimer</h3>
			</div>
			<div class="panel-body">
				<!-- TODO -->
			</div>
		</div>
	</div>
</div>
{% endblock %}
