{% extends "_layouts/main.html.twig" %}
{% block content %}
<div id="container-signup">
	<div class="container">
		<div class="alert alert-success">Dein Passwort wurde erfolgreich geändert. Du bist bereits eingeloggt und kannst gleich loslegen!</div>
		<div class="text-center"><a href="/dashboard" class="btn btn-primary btn-lg">Hier geht's weiter!</a></div>
	</div>
</div>
{% endblock %}
