{% extends "layouts/main.html.twig" %}

{% block content %}
<div id="container-login">
	<div class="container">
		<div class="alert alert-danger">Leider ist der von dir aufgerufene Link zum Zurücksetzen deines Passwortes ungültig. <a href="/login/vergessen">Neuen Link anfordern</a></div>
	</div>
</div>
{% endblock %}
