{% extends "layouts/main.html.twig" %}

{% block content %}
<div id="container-login">
	<div class="container">
		<div class="alert alert-success">Wir haben dir eine EMail mit weiteren Instruktionen zum Zurücksetzen deines Passworts geschickt.</div>
	</div>
</div>
{% endblock %}
