{% extends "layouts/main.html.twig" %}

{% block content %}
	<div class="content-section-b">
		<div class="container">
			<h1>Ups!</h1>
			<p>Die aufgerufene Seite scheint nicht zu existieren. :-(</p>
			<p><a href="/">Zur Startseite</a></p>
		</div>
	</div>
{% endblock %}
