{% extends "_layouts/main.html.twig" %}

{% block content %}
	<div class="container">
		<h1>{% trans "Ups!" %}</h1>
		<p> {% trans "Die aufgerufene Seite scheint nicht zu existieren. :-(" %}</p>
		<p><a href="/">{% trans "Zur Startseite" %}</a></p>
	</div>
{% endblock %}
