Hallo!<br>
<br>
{# TODO: Projektname und URL anpassen #}
Du hast Dich gerade bei TODO angemeldet. Um Deinen Account zu aktivieren, öffne bitte innerhalb der nächsten 24 Stunden den folgenden Link:<br>
<br>
<a href="http://TODO/anmelden/{{ key }}">http://TODO/anmelden/{{ key }}</a><br>
<br>
<br>
Viel Spaß!<br>
<br>
Dein TODO-Team
